*{
    margin: 0;
}

.home{
    display: flex;
    flex-direction: column;
 
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2rem;
    height: auto;
    font-style: "Roboto", sans-serif;
}
.top{
   padding: 20px;
   margin: 10px;

}

.logo{
    font-size: 24px;
    float: left;
    margin-left: 22px;
    padding: 30px 40px;
    margin: 12px;
    
}
.header li{
    list-style: none;
    float: right;
    padding: 5px 15px 20px 10px;
    height: 70px;
    font-size: 18px;
}

.item{
    display: flex;
    margin: 10em;
   
}
.hero{
    float: left;
    color: #f9faf8;
    margin: 3em;
    padding: 20px;
}
.hero h1{
    font-size: 48px;
    font-weight: 800;
    margin: 20px;

}
.hero p{
    font-family: "Roboto", sans-serif;
    padding: 20px;
    margin: 20px 0;
}
.hero button{
    background: #3882f6;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    padding: 10px;
    font-size: 16px;
    font-weight: 650;

}

.img{
    float: right;
    background-color: #6d747d;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    width: 60em;
    height: 18em;
    margin-top: 30px;

}

.box{
    padding: 2rem;
    height: auto;
    justify-content: center;
    align-items: center;

}

.box h2{
    text-align: center;
}
.box ah{
    display: flex;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.Quote{
    font-size: 36px;
    background-color: #e5e7eb;
    font-style:  italic;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #1f2937;
    padding: 75px;
}
.Quote a{
    color: #1f2937;
    font-style: initial;
    float: right;
    font-size: medium;
    font-family:  "Roboto Slab", serif;
    font-weight: 800;
    
}

.content{
    padding: 75px;
    color: #f9faf8;
}

.in{
    border-radius: 5px solid transparent;
    align-content: center;
    justify-content: center;
    background-color: #3882f6;
    padding: 30px;
    margin: 25px;
    height: 140px;
    border-radius: 10px;
}
.in h4{
    font-size: 24px;

}
.content .in button{
    float: right;
    background: #3882f6;
    width: 120px;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    padding: 10px;
    font-size: 16px;
    font-weight: 650;
    border: #f9faf8 solid 2px;
    
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2em;
    text-align: center;
    bottom: 0;
}
